.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item {
    margin: 10px 20px;
}

.scrollspy-example {
    color: gray;
    text-align: center;
}

.scrollspy-example p {
    padding-left: 60px;
    padding-right: 60px;
}

.carousel-caption h5 {
    color: rgb(55, 97, 153);
}

.carousel-caption p {
    color: gray;
}

.abstract {
    color: gray;
    padding: 0px 40px 0px 40px;
}

.abstract .title {
    font-size: 30px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.abstract .detail {
    font-size: 20px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    background-color: rgb(128, 128, 128);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.about div div {
    text-align: right;
    color: #fff;
}

.footer {
    background-color: rgb(66, 106, 253);
    margin-top: 20px;
    height: 50px;
}

.footer p {
    color: #fff;
    text-align: center
}